 
 body {
   line-height: 1.4em;
   /*background-color:#1F2739;*/
 }
 
 caption {
   font-size:2.5em; 
   font-weight: 300;
   line-height:1em;
   text-align: center;
   color: #0052A2;
   margin-bottom: 10px;
 }
 

.container th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #6497b1;
 }
 
.container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
 }
 
.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}
 
.container td, .container th {
    color: #b3cde0;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;  
 }
 
 /********** Background color of the odd rows *********/
 .container tr:nth-child(odd) {
       background-color: #03396c;
 }
 
 /*********** Background color of the even rows *******/
 .container tr:nth-child(even) {
       background-color: #005b96;
 }
 
 /*********** Background color of the table header *******/
 .container th {
       background-color: #011f4b;
 }
 
/*.container td:first-child { color: #7EF9FF; }*/

.container .firstCol {
  color: #7EF9FF;
  font-weight: bold;
}

/********Column Group Styles*********/
.container col.countryCol {
  color: #7EF9FF;
}
 
 .container tr:hover {
  background-color: #6497b1;
  color:  #005b96;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  -moz-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119;
}
 
.container td:hover {
  background-color: #6497b1;
  color: white;
  font-weight: bold;
  font-size: 18px;
   
  box-shadow: #005b96 -1px 1px, #005b96 -2px 2px, #005b96 -3px 3px, #005b96 -4px 4px, #005b96 -5px 5px, #005b96 -6px 6px;
  transform: translate3d(6px, -6px, 0);
   
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

/****************Table Footer Styles**************/
.container .tableFooter {
  font-size: 12px;
  color: #03396c;
  background: gainsboro;
  text-align: center;
  line-height: 25%;
}


/****************Mobile Styles********************/
@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) { display: none; }
  .container .tableFooter {
    line-height: 100%;
    padding: 5px;
  }
}